/* Apply the animation to the #readMore element */
#readMore {
  position: relative; /* Ensure the element is positioned relative for animation */
  animation: upDown 1s infinite; /* Apply the animation with a 4-second duration, looping infinitely */
  display: flex;
  justify-content: center; 
  align-items: middle;
  width : 100px;
  height: 100px;
}

@keyframes upDown {
  0% { top: 0%; }
  25% { top: 10%; }
  50% { top: 20%; }
  75% { top: 10%; }
  100% { top: 0%; }
}

@media (max-height: 599px) {
  .name {
    font-size: 20px
  }

  .profession {
    font-size: 16px
  }

  .greetings {
    font-size: 24px
  }

  .img-height {
    height: 70%;
  }

  .description {
    font-size: 12px;
  }

  .descriptionVertical {
    font-size: 10px;
    top:20px;
  }
}

@media (min-height: 600px) {
  .descriptionVertical {
    font-size: 12px;
    top: 20%;
  }
}

@keyframes textBlink {
  0%, 100% {
    opacity: 75%
  }
  50% {
    opacity: 10% 
  }
}

.greetingAnimation {
  animation: 3s linear 1s infinite textBlink
}

@media (max-height: 900px) {

}