@media (min-height: 300px) and (max-height: 499px) {
  .sizeNote {
    font-size: 12px;
  }

  .sizeEmptyStr {
    font-size: 12px;
    /* position: relative;
    top: -20%; */
  }

  .titles {
    font-size: 14px;
  }
  
  .subtitles {
    font-size: 12px;
  }


  .intervalNames {
    font-size: 10px;
  }
    
  
  .sizeEmptyStr {
    font-size: 12px;
    top: -50%;
  }

  .checkBox {
        width: 10px;
        height: 10px;
    }

    .innerCheckBox {
        width: 6px;
        height: 6px;
    }
  
  .textInBoxOpt2 {
    font-size: 9px;
  }
  
  .sizeEmptyStr2 {
    font-size: 10px;
    top: -5px;
  }
  
  .titlesVertical {
    font-size: 12px;
  }
    
  .fretMarkers {
      width: 8px;
      height: 8px;
    }
    
  .intervalNrs {
      font-size: 8px;
    }

}

@media (min-height: 500px) and (max-height: 699px ) {
  .sizeNote {
    font-size: 14px;
  }
  
  .sizeEmptyStr {
    font-size: 14px;
  }
  
  .titles {
    font-size: 18px;
  }
  
  @media (max-width: 900px) {
      .titles {
        font-size: 14px;
      }   
    }

  .subtitles {
    font-size: 13px;
  }
  
  .sizeEmptyStr {
    font-size: 16px;
    top: -20%;
  }
  
  .intervalNames {
    font-size: 11px;
  }
    
  .checkBox {
        width: 11px;
        height: 11px;
    }

    .innerCheckBox {
        width: 7px;
        height: 7px;
    }

  .titlesVertical {
    font-size: 14px;
  }

  .textInBoxOpt2 {
    font-size: 10px;
  }
  
  .sizeEmptyStr2 {
    font-size: 12px;
    top: -3px;
  }
    
  .fretMarkers {
      width: 9px;
      height: 9px;
    }
    
  .intervalNrs {
      font-size: 10px;
    }

}

@media (min-height: 700px) and (max-height: 900px) {

  .sizeEmptyStr2 {
    font-size: 14px;
    top: 0px;
  }

  .sizeNote {
    font-size: 16px;
  }

  .sizeEmptyStr {
    font-size: 18px;
    top: 0%;
  }


  @media (min-width: 1024px) {
    .sizeEmptyStr {
      font-size: 18px;
      top: -10%;
    }

  }



  .titles {
    font-size: 20px;
  }
  
  .subtitles {
    font-size: 14px;
  }

  .intervalNames {
    font-size: 12px;
  }
    
  @media (max-width: 900px) {
      .titles {
        font-size: 16px;
      }   
    }

    .checkBox {
        width: 12px;
        height: 12px;
    }

    .innerCheckBox {
        width: 8px;
        height: 8px;
    }

    .fretMarkers {
      width: 10px;
      height: 10px;
    }

    .intervalNrs {
      font-size: 12px;
    }
}

@media (min-height: 901px) {
  .sizeEmptyStr {
    top: 20%;
  } 

  @media (max-height: 1200px) {
    

    @media (max-width : 1024px) {
      .sizeEmptyStr {
        font-size: 18px;
        top: 0%;
      }

    }
    
    @media (max-width : 1290px) {
      .sizeEmptyStr {
        font-size: 20px;
        top: 0%;
      }

    }
    
    .sizeEmptyStr {
      font-size: 18px;
      top: 0%;
    }

  }

  @media (min-height: 1200px) {
    .sizeEmptyStr {
      top: 10%;

    }
  }
}
